<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tylersticka.smartpunctuation</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>12CFF92D-F60D-4641-B77D-785FE128A57F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E2A024E-5DD0-4ED1-B69B-828651562906</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>25067386-50E4-4FA9-AB92-D37A98EDB338</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFC644C9-4789-4B91-95E3-F7C327E6B76D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E2A024E-5DD0-4ED1-B69B-828651562906</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25067386-50E4-4FA9-AB92-D37A98EDB338</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>897C0D3A-9097-4612-963A-121CE2078EEB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E2A024E-5DD0-4ED1-B69B-828651562906</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CFC644C9-4789-4B91-95E3-F7C327E6B76D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CDD78E4-C672-4627-8F1C-3437B5B6A7FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tyler Sticka</string>
	<key>description</key>
	<string>"Straight" → “Smart” Quotes, Apostrophes &amp; More</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Smart Punctuation</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CFC644C9-4789-4B91-95E3-F7C327E6B76D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sp</string>
				<key>subtext</key>
				<string>"Straight" → “Smart” Punctuation</string>
				<key>text</key>
				<string>Smart Punctuation</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>12CFF92D-F60D-4641-B77D-785FE128A57F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>smartypants &lt;&lt;&lt; $1 | perl -Mutf8 -CSDL -MHTML::Entities -pe 'decode_entities($_);'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6E2A024E-5DD0-4ED1-B69B-828651562906</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>25067386-50E4-4FA9-AB92-D37A98EDB338</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>39</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>'</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>897C0D3A-9097-4612-963A-121CE2078EEB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Funk</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>9CDD78E4-C672-4627-8F1C-3437B5B6A7FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Alfred Smart Punctuation

Convert "straight" punctuation marks into their “smart” variants with a hotkey or keyword.

Uses [SmartyPants](https://daringfireball.net/projects/smartypants/) for the conversion, followed by [a Perl command to decode HTML entities](https://stackoverflow.com/a/13161719).

## Installation

Assuming [Homebrew](https://brew.sh) is installed:

1. Install SmartyPants: `brew install smartypants`
2. Download and install [the Alfred workflow](https://github.com/tylersticka/alfred-smart-punctuation/releases/latest/download/SmartPunctuation.alfredworkflow)

## Usage

The default hotkey to transform selected text in place is Shift-Command-Apostrophe (`⇧⌘'`), but you may override this in the workflow settings however you like.

Or use the `sp {text}` command to transform the provided text and copy to clipboard.

| Feature             | Input             | Output            |
| ------------------- | ----------------- | ----------------- |
| Quotes, Apostrophes | "How's it going?" | “How’s it going?” |
| Ellipses            | Hold on...        | Hold on…          |
| Em Dashes           | Wait--what?!      | Wait—what?!       |</string>
	<key>uidata</key>
	<dict>
		<key>12CFF92D-F60D-4641-B77D-785FE128A57F</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>25067386-50E4-4FA9-AB92-D37A98EDB338</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>6E2A024E-5DD0-4ED1-B69B-828651562906</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>897C0D3A-9097-4612-963A-121CE2078EEB</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>9CDD78E4-C672-4627-8F1C-3437B5B6A7FF</key>
		<dict>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>CFC644C9-4789-4B91-95E3-F7C327E6B76D</key>
		<dict>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.1.3</string>
	<key>webaddress</key>
	<string>https://github.com/tylersticka/alfred-smart-punctuation</string>
</dict>
</plist>
